@media screen and (max-width: 1000px) {
    body {
    

    }
    section .flip-card-inner {
        width: 60em;
        height: 35em;
        margin: 7em 10em 0em 26em;
        font-size: 0.5em;
        letter-spacing: -0.1em;
    }
    .flip-card-back {
        font-size: 1.5em;
    }
    .confirmOrder {
        margin: 5em 6em 0;
        
    }
    .modal {
        font-size: 0.7em;
        text-align: center;
        margin: auto;
    }
    .modal-content {
        font-size: 2em;
        text-align: center;
    }
}