header {
    font-size: 3em;
    text-align: center;
    background: red;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    vertical-align: middle;
}

.orderMenu {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 1em;
    width: auto;
    justify-content: center;
}

section {
    background-color: transparent;
    width: 45em;
    height: 20em;
    margin: 1em;
    padding: 1em;
    perspective: 100em;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
    -webkit-transition: transform 0.7s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    box-shadow: 0.2em 0.3em 1em #444;
}


section:hover .flip-card-inner {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}



.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: lawngreen;
    text-align: center;
}



.flip-card-front {
    text-align: center;
}


.flip-card-back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    text-align: left;
    line-height: 3;
}

input, i {
    margin: 0 2em;
}
ul {
    list-style: none;
}

.confirmOrder {
    display: inline-flex;
    flex-direction: row;
    padding: 1em 0 10em;
    width: 100%;
    justify-content: center;
}



#total {
    border: solid 0.11em grey;
    width: 16em;
    height: 16em;
    background-color: coral;
    padding: 0 1em 4em;
    font-size: 1.4rem;   
}

input {
    font-size: 1rem;
}
button {
    width: 35.5em;
    height: 5em;
    background-color: brown;
    border: solid 0.8em #444;
    border-radius: 1em;
    color: white;
    margin: 1.5em 0 0.3em -1.5em;
    
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1; 
    padding-top: 10vh;
  left: 0;
  top: 15em;
  width: 70%; 
  height: 10em;
  overflow: auto; 
    background-color: aqua;
    margin: 0 15% 0;
    vertical-align: middle;
    border: solid 0.1em grey;
    border-radius: 1em;
}
.modal-content {
 text-align: center;

}
span {
    color: red;
    margin: 1em 27em;
}
